body{
	margin: 0;
	background-color: #EFEFEF;

	font-family: Lucida Sans Unicode;
	margin: 0px;
}


#cabeceraPrincipal, #cabecera{

	overflow: hidden;
	list-style-type: none;
	margin: 0px; /* si queremos centrarlo */
	padding: 0px;

	/* la altura y su ancho dependerán de los textos */
	/*height: 40px; */

	/* el color de fondo */
	background: #0071BD;
	
}

#menuCont{
	float: left;
	margin: 0px;
	padding: 0px;

}


#menu  {
	list-style-type: none;
	margin: 0; /* si queremos centrarlo */
	padding: 0;
}

/* cada item del menu */
#menu  li {
	display: block;
	float: left; /* la lista se ve horizontal */	
}

#menu li a {
	
	color: #FFF;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 28px;
	padding: 0 14px;

	text-decoration: none;
	/* animamos el cambio de color de los textos */
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/* efecto hover cambia el color */
.menu li:hover > a { 
	color: #07357A; 
}



#loginUsuario{
	color: #FFF;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	float: right;
	margin: 0;
	padding: 1px 0;
	background-color: #0071BD;
}

#contenedorPrincipal{
	margin: 10px auto;
	width: 95%;
	border: solid 1px;
	overflow: hidden;
}

.camposFormulario{
	margin:10px;
	overflow: hidden;

}

#contenedorPrincipal label{
	padding: .05em;
	font-size: 1.5em;
	line-height: 1.2em;
	width: 17%;
	float: left;
	text-align: right;
	margin-right: 5px;
	
}

#contenedorPrincipal input[type="text"], textarea{
	margin: 0px;
	
	line-height: 1.2em;
	font-size: 1.5em;
	width: 80%;

}

.oculta{
	border: solid;
	visibility: hidden;
	width: 17%;

}

#livesearch{
	position: relative;
	background-color: white;
	margin-left: 18%;
	margin-right: 12%;
	width: 80%;
	
	/*visibility: hidden;*/
}


#contenedorResultado{
	margin: 1.1em auto;
	width: 60%;
	line-height: 1.8em;
	border: solid 1px;
	text-align: center;
}

.filtrarCategoria a:link{
	
	margin-left: 10px;
	text-decoration: none;
	padding: 10px 20px;
	background: #0071BD;
	box-shadow: 2px -2px #D4DFFA;
	color:#ddd;
}
.filtrarCategoria a:visited{
	color:#ddd;
}

.filtrarCategoria a:hover{
	position: relative;
	text-decoration: none;
	box-shadow: 0px 0px #000;
	background: #005187;
	top: -2px;
	left: 2px;
	color:#fff;
}

#botonera{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 30%;
	padding: 10px 5px 10px 5px;
	overflow: hidden;
}

.boton{
		margin-left: 10px;
	text-decoration: none;
	background: #0071BD;
	box-shadow: 2px -2px #D4DFFA;
	color:#ddd;

	float: left;
	border: none;
	cursor:pointer;
	margin: 0 auto;
	height: 3em;
	width: 7em;
}

.boton:hover{
	position: relative;
	text-decoration: none;
	box-shadow: 0px 0px #000;
	background: #005187;
	top: -2px;
	left: 2px;
	color:#fff;
}

#buttonEnviar{
	
	float: left;
}

#buttonReestablecer{
	float: right;
}

.camposFormulario{
	margin: 15px 3.8em 15px 6em;
	background: #b9c9fe;
	border-radius: 13px 13px 0px 0px;
	box-shadow: 5px 5px 5px #999;
}

.camposFormulario #comentarioField{
    display: block;
    margin-left: auto;
    margin-right: auto;


}

#tituloFormComentario{
	display: block;
	padding: 8px 10px;
	margin-bottom: 15px;
	background: #0071BD;
	border-radius: 13px 13px 0px 0px;
}

.botonImagen::-webkit-file-upload-button{
	visibility: hidden;
}

.botonImagen::before{
	content: 'Subir Imagen';
	
	display: inline-block;
	background: #E0E0E0;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;

	cursor: pointer;

	font-weight: 700;
	font-size: 10pt;
}

.botonImagen:hover::before{
	border-color: black;
}

.botonImagen:active::before{
	background: -webkit-linear-gradient(top,#f9f9f9, #e3e3e3);
}

