
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #EFEFEF;

	font-family: Lucida Sans Unicode;
	margin: 0px;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.clear{
	clear: both;
}

#cabeceraPrincipal{

	overflow: hidden;
	list-style-type: none;
	margin: 0px; /* si queremos centrarlo */
	padding: 0px;

	/* la altura y su ancho dependerán de los textos */
	/*height: 40px; */
	min-width: 1160px;
	/* el color de fondo */
	background: #0071BD;
}

#menuCont{
	float: left;
	margin: 0px;
	padding: 0px;

}


#menu  {
	list-style-type: none;
	margin: 0; /* si queremos centrarlo */
	padding: 0;
}

/* cada item del menu */
#menu  li {
	display: block;
	float: left; /* la lista se ve horizontal */	
}

#menu li a {
	
	color: #FFF;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 28px;
	padding: 0 14px;

	text-decoration: none;
	/* animamos el cambio de color de los textos */
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/* efecto hover cambia el color */
.menu li:hover > a { 
	color: #07357A; 
}



#loginUsuario{
	color: #FFF;
	display: block;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	float: right;
	margin: 0;
	padding: 1px 0;

}



.establecimiento{
	width: 320px;
	float: left;
	margin: 3em 1em;
	border: solid 1px;
}

.contApartado{
	padding: 15px;
	background-color: white;
}

.lblApartado{
	font-size: 1.4em;
	/*font-size: 16px;*/
}

.aptdoImagen{
	margin: 0;
	padding: 0;

}

.categoria, .caracteristica{
	border: solid 1px;
	border-radius: 6px;
	margin-right: 3px;
	padding: 2px 5px;

}

.categoria{
	border-color: blue;
	background-color: blue;
}

.caracteristica{
	border-color: red;
	background-color: red;
}

.imagenCabecera{
	margin: auto;
	display: block;
}


#aptdoImagen{
	height:180px;
	margin: 0px;
	padding: 0px;
}

